

* {
    margin: 0;
    padding: 0;
}

.hero-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

/* Section One */
.section-one {
    display: flex;
    align-items: center;
    background: #1F2937;
    padding: 24px 50px;
}

.section-one .logo {
    flex: 10;
}

.section-one .nav {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    gap: 35px;
}

.section-one ul {
    list-style-type: none;
    list-style-type: none;
}

.section-one ul a {
  text-decoration: none;
  color: inherit;
} 

/* Section Two */
.section-two {
    display: flex;
    background: #1F2937;
    height: 450px;
    padding: 100px 50px;
}

.section-two .left-side {

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section-two .left-side .button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
}

.section-two .left-side .button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.section-two .right-side {
    flex: 1;
}

.section-two .right-side .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

