

body {
    margin: 0;
}

/* .sections section{
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  box-sizing: border-box;
} */
.hero-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

/* Section One */
.section-one {
    display: flex;
    align-items: center;
    background: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.section-one .hero-logo {
    flex: 13;
}

.section-one .hero-second {
    flex: 1;
}

.section-one ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.section-one ul a {
  text-decoration: none;
  color: inherit;
}

/* Section Two */
.section-two {
    display: flex;
    background: #1F2937;
    height: 300px;
    padding: 70px;
}

.section-two .left-side {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-two .left-side .hero-main {
    flex: 1;
}

.section-two .left-side .hero-second {
    flex: 1;
}

.section-two .left-side .button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
}

.section-two .left-side .button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.section-two .right-side {
    flex: 1;

}

.section-two .right-side .picture {
  width: 100%;
  height: 100%;
}

